<launch>
    <!-- LRR Driver -->
    <node pkg="lrr_base" type="lrr_base" name="lrr_base_node" output="screen">
        <rosparam command="load" file="$(find lrr_base)/config/laser_filter.yaml" />
    </node>

    <!-- Differential controller parameters and basic localization -->
    <include file="$(find lrr_control)/launch/control.launch" />

    <!--Teleop -->
    <include file="$(find lrr_control)/launch/teleop.launch" />   

</launch>
