<launch>
    <param name="lrr_robot_description" command="$(find xacro)/xacro $(find little_red_rover)/description/lrr.urdf.xacro"/>

    <node name="lrr_state_pub" pkg="robot_state_publisher" type="robot_state_publisher">
        <remap from="robot_description" to="lrr_robot_description" />
    </node>
    <node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node" output="screen">
        <rosparam command="load" file="$(find little_red_rover)/config/joy_config.yaml" />
    </node>
    <include file="$(find foxglove_bridge)/launch/foxglove_bridge.launch">
        <arg name="port" value="8765" />
    </include>
    <node name="hal" pkg="little_red_rover" type="hal.py" output="screen"/>
</launch>
